.HOME{
    display: flex;
    flex-direction: column;
}

.wrapper {
  margin-top: 5vh;
  margin-left: 5vh;
  margin-right:5vh ;
}
  
h1 {
  color: #8cb1f7;
  font-family: 'Astrella';
  margin-bottom: 0px;
  }
  

.description {
  width: 100vh;
  font-size: 2.3vh;
  font-family: 'SourceSansPro-Regular';
  
  }

@media (max-width: 768px) {
  .description {
    font-size: 2.3vh;
    width: 100%;
  }
}
    
.headerImg {
  float: left;
  height: 50vh;
  margin-right: 10vh ;
  margin-left: 10vh;
}
@media (max-width: 768px) {
  .headerImg {
    height: 35vh;

  }
}

.donotforget{
    margin-top: 5vh;
    margin-right: 5vh;
    font-size: 2.3vh;
    font-family: 'SourceSansPro-Regular';
}
.moreAbout{
    margin-top: 50vh;
    margin-right: 10vh;
    font-size: 1.5vh;
    font-family: 'SourceSansPro-Regular';
}
@media (max-width: 768px) {
  .moreAbout {
    width: 100%;
  }
}
.join{
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    justify-content: center;
    align-items: center;
}
.join > form{
    display: flex;
    flex-direction: column;
    width: 40vh;
}
.multistepform{
    margin-top: 10vh;
}

.joinButtons{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}