.TOP {
  width: 100vw;
  height: auto;
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 999;
  padding-bottom: 4vh;
  padding-top: 7px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-bottom: 5px; /* Adjust the margin-bottom value to create space */
}

.topLeft {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoImg {
  padding-bottom: 1vh;
  position: absolute;
  height: 7vh;
  width: auto;
  margin-left: 2vh;
}

.TopList {
  display: flex;
  justify-content: center;
  margin: 0;
  list-style: none;
  padding: 0;
  margin-right: 1vh;
}

.TopListItem {
  margin-right: 1.5vh;
  font-size: 2vh;
  font-weight: 300;
  cursor: pointer;
}

.topCenter {
  flex: 6;
  display: flex;
  justify-content: flex-end;
}

.iconImg {
  height: 30px;
  width: auto;
}
