.TOP {
    width: 100vw;
    height: 50px;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 999;
    padding-bottom: 20px;
    padding-top: 7px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
  
  .topLeft {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
  }
  .logoImg{
    padding-bottom: 2px;
    position: absolute;
    height: 70px;
    width: auto;

  }
  
  .TopList {
    display: flex;
    justify-content: center;
    margin: 0;
    list-style: none;
    padding: 0;
    margin-right: 10vh;
  }
  
  .TopListItem {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
  }
  
  .topCenter {
    flex: 6;
    display: flex;
    justify-content: flex-end;
  }
  

  
  @media (max-width: 768px) {
    .logoImg {
      height: 80px;;
    }
  }