.FindClinics{
    display: flex;
    flex-direction: column;
}

.map{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.introduction{
    margin-top: 6vh;
    margin-left: 2vh;
    font-family: 'SourceSansPro-Regular';
}